:root {
  --ProgramOverview: 27px;
  --sidebar-links: 20px;
  --common-heading: 36px;
  --next-prev: 24px;
  --para-text: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Model css */

.modal {
  background: #000000 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.modal-image {
  height: 80vh;
}

/* common sidebar  */
.sidebar {
  width: 520px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 0 40px;
  margin-bottom: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 0px 4px #0000001a;
  z-index: 2;
}

.sidebar-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.logo {
  width: 291px;
  height: 102px;
}

.logo img {
  width: 291px;
  height: 102px;
}

.logo-hr hr {
  width: 276px;
  height: 0px;
  border: 1px solid #dc4f54;
}

.ProgramOverview {
  width: 265px;
  height: 33px;
  font: normal normal bold var(--ProgramOverview) / 33px Montserrat;
  letter-spacing: 0px;
  color: #264397;
}

.nav {
  width: 440px;
  height: calc(100vh - 235px);
  overflow-y: auto;
  background: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: block;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav-item-active>a {
  height: 80px;
  background: #1c449c 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: 0px;
  color: #ffffff;
  font: normal normal medium var(--sidebar-links) / 24px Montserrat;
  font: normal normal normal var(--sidebar-links) / 24px Montserrat;
  font-weight: 500;
}

.nav-item-active>a:hover {
  color: #ffffff;
}

.nav-item>a {
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: 0px;
  color: #000000;
  font: normal normal medium var(--sidebar-links) / 24px Montserrat;
  font: normal normal normal var(--sidebar-links) / 24px Montserrat;
  font-weight: 500;
}

.nav-item>a:hover {
  color: #000000;
}

/* commom content */

.info {
  display: flex;
  /* width: calc(100vw - 520px); */
  /* padding-left: 140px; */
  padding-top: 58px;
  /* padding-right: 200px; */
  padding-bottom: 110px;
  gap: 50px;
  height: max-content;
  width: 1061px;
  justify-content: center;
}

.content {
  width: calc(100vw - 520px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 6px #00000029;
}

.navigation {
  height: 100px;
  width: 1061px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  /* padding: 0 140px; */
  /* padding-right: 200px; */

}

.prv-btn,
.next-btn {
  text-decoration: none;
  font: normal normal 600 var(--next-prev) / 40px Montserrat;
  letter-spacing: 0px;
  color: #007cc3;
  width: max-content;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100px;
}

.burger,
.span {
  display: none;
}

/* commom headings */

.common-heading {
  font: normal normal bold var(--common-heading) / 44px Montserrat;
  letter-spacing: 0px;
  color: #264397;
  opacity: 1;
}

.para-text {
  font: normal normal normal var(--para-text) / 36px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.comm-width {
  width: 100%;
  margin-bottom: 30px;
}

/* for tabs */
@media only screen and (width >=576px) and (width<=1024px) {
  :root {
    --ProgramOverview: 20px;
    --next-prev: 24px;
    --common-heading: 28px;
    --para-text: 20px;
  }

  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 40px 40px 40px;
    gap: 40px;
    margin-bottom: 90px;
  }

  .navigation {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 100%;
    left: 0%;
    margin: 0%;
    padding: 0% 10px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
    padding: 0px 15px;
    height: 70px;
  }

  .hidden {
    display: none;
  }

  .burger {
    width: 75px;
    height: 80px;
    background: #007cc3 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger .open-icon,
  .close-icon {
    width: 45px;
  }

  .sidebar-head {
    flex-direction: row !important;
    margin: 0;
    height: 70px;
    gap: 20px;
  }

  .span {
    display: flex;
    width: 64px;
    height: 100%;
    background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0% 0% no-repeat padding-box;
  }

  .logo,
  .logo img {
    height: 48px;
    width: 134px;
  }

  .logo-hr hr {
    width: 0;
    height: 41px;
  }

  .content {
    width: 100vw;
  }

  .nav {
    width: 100%;
    margin: 40px;
  }

  .navs {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100vh - 140px);
    top: 140px;
    right: 0%;
    background-color: #fff;
    display: flex !important;
  }

  .nav-link {
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    opacity: 1;
  }

  .ProgramOverview {
    width: 197px;
    height: 24px;
    font: normal normal bold var(--ProgramOverview) / 24px Montserrat;
    letter-spacing: 0px;
    color: #264397;
    opacity: 1;
  }

  .prv-btn,
  .next-btn {
    width: max-content;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .sidebar-close {
    display: none;
  }

  .prv-btn,
  .next-btn {
    font: normal normal 600 20px/40px Montserrat;
  }

  .navigation {
    margin: 0%;
    padding: 0% 35px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  /* commom */

  .common-heading {
    width: 100%;
    font: normal normal bold var(--common-heading) / 33px Montserrat;
  }

  .para-text {
    width: 100%;
    font: normal normal normal var(--para-text) / 27px Montserrat;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* <-------------------------------------------------------------------------------------------> */
/* by developer own css */

@media only screen and (width <=576px) {
  :root {
    --ProgramOverview: 20px;
    --next-prev: 24px;
    --common-heading: 24px;
    --para-text: 16px;
    --sidebar-links: 14px;
  }

  .heading-1 {
    padding-left: 15px;
    font: normal normal 600 16px/24px Montserrat;
  }

  .mobile-heading {
    font: normal normal 600 22px/24px Montserrat !important;
    padding-left: 30px !important;
  }

  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 40px 40px 40px;
    gap: 40px;
    margin-bottom: 90px;
  }

  .common-heading {
    width: 100%;
    font: normal normal bold var(--common-heading) / 38px Montserrat;
  }

  .para-text {
    width: 100%;
    font: normal normal normal var(--para-text) / 24px Montserrat;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }

  .navigation {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 100%;
    left: 0%;
    margin: 0%;
    padding: 0% 10px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  .nav-item a {
    height: 54px;
    font: normal normal normal var(--sidebar-links) / 24px Montserrat;
  }

  .nav-item-active a {
    height: 54px;
    font: normal normal normal var(--sidebar-links) / 24px Montserrat;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
    padding: 0px 15px;
    height: 54px;
  }

  .hidden {
    display: none;
  }

  .burger {
    width: 48px;
    height: 54px;
    background: #007cc3 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger .open-icon,
  .close-icon {
    width: 34px;
  }

  .sidebar-head {
    flex-direction: row !important;
    margin: 0;
    height: 54px;
    gap: 20px;
  }

  .span {
    display: flex;
    width: 64px;
    height: 100%;
    background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0% 0% no-repeat padding-box;
  }

  .logo,
  .logo img {
    height: 36px;
    width: 106px;
  }

  .logo-hr hr {
    width: 0;
    height: 41px;
  }

  .content {
    width: 100vw;
  }

  .nav {
    width: 100%;
    margin: 16px;
    height: 90%;
  }

  .navs {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100vh - 108px);
    top: 108px;
    right: 0%;
    background-color: #fff;
    display: flex !important;
  }

  .nav-link {
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    opacity: 1;
  }

  .ProgramOverview {
    height: 24px;
    font: normal normal bold 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #264397;
    opacity: 1;
  }

  .prv-btn,
  .next-btn {
    font: normal normal 600 16px/40px Montserrat;
  }

  .sidebar-close {
    display: none;
  }

  .navigation {
    margin: 0%;
    padding: 0% 35px;
    height: 54px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }
}

@media only screen and (width <=1600px) and (width >=1024px) {
  :root {
    --ProgramOverview: 24px;
    --next-prev: 18px;
    --common-heading: 26px;
    --para-text: 18px;
    --sidebar-links: 16px;
  }

  /* sidebar */

  .sidebar {
    width: 350px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .sidebar-head {
    margin: 30px 0;
  }

  .logo {
    width: 240px;
    height: 80px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .logo-hr hr {
    width: 240px;
    height: 0px;
  }

  .ProgramOverview {
    width: 240px;
    height: 33px;
    font: normal normal bold var(--ProgramOverview) / 33px Montserrat;
  }

  .nav {
    width: 300px;
    height: calc(100vh - 235px);
  }

  .nav-item>a {
    font-weight: 500 !important;
    height: 70px;
    font: normal normal medium var(--sidebar-links) / 24px Montserrat;
    font: normal normal normal var(--sidebar-links) / 20px Montserrat;
  }

  .nav-item-active>a {
    height: 70px;
    font-weight: 500 !important;
    font: normal normal medium var(--sidebar-links) / 24px Montserrat;
    font: normal normal normal var(--sidebar-links) / 24px Montserrat;
  }

  /* content */
  .info {
    display: flex;
    height: max-content;
    width: calc(100vw - 350px);
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    padding: 50px;
    padding-top: 30px;
    gap: 50px;
    flex-wrap: wrap;
    /* margin-bottom: 60px; */
  }

  /* content */
  .content {
    width: calc(100vw - 350px);
    height: 100vh;
  }

  /* commom  */

  .common-heading {
    font: normal normal bold var(--common-heading) / 30px Montserrat;
    align-content: end;
  }

  .para-text {
    font: normal normal normal var(--para-text) / 26px Montserrat;
  }

  .navigation {
    height: 80px;
    width: calc(100vw - 350px);
    padding: 0 50px;
  }

  .prv-btn,
  .next-btn {
    width: max-content;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 16px;
    font: normal normal 600 var(--para-text) / 30px Montserrat;
  }

  .prv-btn-img {
    height: 18px;
  }
}