* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* common sidebar  */

.sidebar {
  width: 520px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 0 40px;
  margin-bottom: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 0px 4px #0000001a;
  z-index: 2;
}

.sidebar-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.logo {
  width: 291px;
  height: 102px;
}

.logo img {
  width: 291px;
  height: 102px;
}

.logo-hr hr {
  width: 276px;
  height: 0px;
  border: 1px solid #dc4f54;
}

.ProgramOverview {
  width: 265px;
  height: 33px;
  text-align: left;
  font: normal normal bold 27px/33px Montserrat;
  letter-spacing: 0px;
  color: #264397;
}

.nav {
  width: 440px;
  height: calc(100vh - 235px);
  overflow-y: auto;
  background: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: block;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav-item-active > a {
  height: 80px;
  background: #1c449c 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: 0px;
  color: #ffffff;
  font: normal normal medium 20px/24px Montserrat;
  font: normal normal normal 20px/24px Montserrat;
  font-weight: 500;
}

.nav-item-active > a:hover {
  color: #ffffff;
}
.nav-item > a {
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
  letter-spacing: 0px;
  color: #000000;
  font: normal normal medium 20px/24px Montserrat;
  font: normal normal normal 20px/24px Montserrat;
  font-weight: 500;
}
.nav-item > a:hover {
  color: #000000;
}

/* commom content */

.info {
  display: flex;
  width: calc(100vw - 520px);
  padding-left: 140px;
  padding-top: 58px;
  padding-right: 200px;
  padding-bottom: 110px;
  gap: 50px;
  height: max-content;
}

.content {
  width: calc(100vw - 520px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.head {
  height: 142px;
  padding-left: 140px;
  background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0% 0%
    no-repeat padding-box;
}

.navigation {
  height: 100px;
  width: calc(100vw - 520px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 140px;
  padding-right: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 6px #00000029;
}

.prv-btn,
.next-btn {
  text-decoration: none;
  font: normal normal 600 24px/40px Montserrat;
  letter-spacing: 0px;
  color: #007cc3;
  width: max-content;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger,
.span {
  display: none;
}
/* commom headings */

.common-heading {
  text-align: left;
  font: normal normal bold 36px/44px Montserrat;
  letter-spacing: 0px;
  color: #264397;
  opacity: 1;
}

.para-text {
  text-align: left;
  font: normal normal normal 24px/36px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.comm-width {
  width: 1080px;
  margin-bottom: 30px;
}

/* for mobile */
@media only screen and (width >=480px) and (width<=1024px) {
  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 40px 40px 40px;
    gap: 40px;
    /* height: calc(100vh - 140px); */
    margin-bottom: 90px;
  }

  .navigation {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 100%;
    left: 0%;
    margin: 0%;
    padding: 0% 10px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
    padding: 0px 15px;
    height: 70px;
  }

  .hidden {
    display: none;
  }

  .head {
    padding: 0%;
    width: 100%;
    height: 80px;
  }

  .big-head {
    height: 80px;
    padding: 0%;
  }

  .burger {
    width: 75px;
    height: 80px;
    background: #007cc3 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger .open-icon,
  .close-icon {
    width: 45px;
  }

  .heading {
    /* height: 29px; */
    text-align: left;
    font: normal normal 600 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 30px;
  }

  .sidebar-head {
    flex-direction: row !important;
    margin: 0;
    height: 70px;
    gap: 20px;
  }

  .span {
    display: flex;
    width: 64px;
    height: 100%;
    background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0%
      0% no-repeat padding-box;
  }

  .logo,
  .logo img {
    height: 48px;
    width: 134px;
  }

  .logo-hr hr {
    width: 0;
    height: 41px;
  }

  .content {
    width: 100vw;
  }

  .nav {
    width: 100%;
    margin: 40px;
  }

  .navs {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100vh - 140px);
    top: 140px;
    right: 0%;
    background-color: #fff;
    display: flex !important;
  }

  .nav-link {
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    opacity: 1;
  }

  .ProgramOverview {
    width: 197px;
    height: 24px;
    text-align: left;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #264397;
    opacity: 1;
  }

  .prv-btn,
  .next-btn {
    width: max-content;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .sidebar-close {
    display: none;
  }

  .navigation {
    margin: 0%;
    padding: 0% 35px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  /* commom */

  .common-heading {
    width: 100%;
    font: normal normal bold 28px/33px Montserrat;
  }

  .para-text {
    width: 100%;
    font: normal normal normal 20px/27px Montserrat;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* for small laptops */
@media only screen and (width <=1600px) and (width >=1024px) {
  .info {
    display: flex;
    height: max-content;
    width: calc(100vw - 400px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 80px 80px 80px;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }

  .sidebar {
    width: 400px;
    padding: 0 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-head {
    margin: 30px 0;
  }

  .logo {
    width: 270px;
    height: 102px;
  }

  .logo img {
    width: 270px;
    height: 100px;
  }

  .logo-hr hr {
    width: 270px;
    height: 0px;
  }

  .ProgramOverview {
    width: 270px;
    height: 33px;
  }

  .nav {
    width: 340px;
    height: calc(100vh - 235px);
  }

  .nav-item > a {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 10px;
    font: normal normal normal 17px/20px Montserrat;
  }

  /* content */
  .content {
    width: calc(100vw - 400px);
    height: 100vh;
  }

  .head {
    height: 122px;
    width: 100%;
    display: flex;
    padding-left: 80px;
  }

  .big-head {
    height: 154px;
  }

  .heading {
    /* width: 827px; */
    /* height: 58px; */
    text-align: left;
    font: normal normal 600 38px/48px Montserrat;
  }

  .common-heading {
    font: normal normal bold 32px / 44px Montserrat;
  }

  .para-text {
    font: normal normal normal 20px / 36px Montserrat;
  }

  .navigation {
    height: 80px;
    width: calc(100vw - 400px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 85px;
  }

  .prv-btn,
  .next-btn {
    width: max-content;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 16px;
    font: normal normal 600 19px/30px Montserrat;
  }

  .prv-btn-img {
    height: 18px;
    font: normal normal 600 19px/30px Montserrat;
  }
}

@media only screen and (width <=480px) {
  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 40px 40px 40px;
    gap: 40px;
    /* height: calc(100vh - 140px); */
    margin-bottom: 90px;
  }

  .navigation {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 100%;
    left: 0%;
    margin: 0%;
    padding: 0% 10px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  .nav-item a {
    height: 54px;
    font: normal normal normal 14px / 24px Montserrat;
  }

  .nav-item-active a {
    height: 54px;
    font: normal normal normal 14px / 24px Montserrat;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
    padding: 0px 15px;
    height: 54px;
  }

  .hidden {
    display: none;
  }

  .head {
    padding: 0%;
    width: 100%;
    height: 54px;
  }

  .big-head {
    height: 80px;
    padding: 0%;
  }

  .burger {
    width: 48px;
    height: 54px;
    background: #007cc3 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger .open-icon,
  .close-icon {
    width: 34px;
  }

  .heading {
    /* height: 29px; */
    text-align: left;
    font: normal normal 600 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 30px;
  }

  .sidebar-head {
    flex-direction: row !important;
    margin: 0;
    height: 54px;
    gap: 20px;
  }

  .span {
    display: flex;
    width: 64px;
    height: 100%;
    background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0%
      0% no-repeat padding-box;
  }

  .logo,
  .logo img {
    height: 36px;
    width: 106px;
  }

  .logo-hr hr {
    width: 0;
    height: 41px;
  }

  .content {
    width: 100vw;
  }

  .nav {
    width: 100%;
    margin: 16px;
    height: 90%;
  }

  .navs {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100vh - 108px);
    top: 108px;
    right: 0%;
    background-color: #fff;
    display: flex !important;
  }

  .nav-link {
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    opacity: 1;
  }

  .ProgramOverview {
    /* width: 197px; */
    height: 24px;
    text-align: left;
    font: normal normal bold 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #264397;
    opacity: 1;
  }

  .prv-btn,
  .next-btn {
    font: normal normal 600 16px/40px Montserrat;
  }

  .sidebar-close {
    display: none;
  }

  .navigation {
    margin: 0%;
    padding: 0% 35px;
    height: 54px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 6px #00000029;
    opacity: 1;
  }

  /* commom */

  .common-heading {
    width: 100%;
    font: normal normal bold 28px/33px Montserrat;
  }

  .para-text {
    width: 100%;
    font: normal normal normal 20px/27px Montserrat;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }
}
