:root {
  --heading: 48px;
  --page5-image-info: 24px;
  --box-heading: 36px;
  --box-paragraph: 24px;
  --inner-box-heading: 24px;
  --inner-box-para: 24px;
}

.head-5 {
  height: 142px;
  /* padding-left: 140px; */
  background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0% 0%
    no-repeat padding-box;
}

.heading-5 {
  text-align: left;
  font: normal normal 600 var(--heading) / 58px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  width: 1061px;
  height: 142px;
  align-content: center;
}

.para-text-div {
  margin-top: 44px;
}

.page-3-list {
  width: 100%;
}

.page-3-list li {
  width: 479px;
  margin-left: 25px;
  margin-bottom: 34px;
  list-style-type: disc;
}

.page5-image {
  width: 1060px;
  height: 550px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b2b2b2;
}

.page5-image-info {
  width: 1060px;
  /* height: 141px; */
  background: #fafafa 0% 0% no-repeat padding-box;
  border: 1px solid #b2b2b2;
  border-radius: 0px 0px 10px 10px;
  font: normal normal 600 var(--page5-image-info) / 30px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  padding: 26px 34px;
}

.page5-box {
  width: 100%;
  height: 1100px;
  padding-left: 10px;
  padding-top: 42px;
  padding-bottom: 100px;
  background: #f4fbff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box-heading {
  width: 1061px;
  height: 44px;
  margin-bottom: 20px;
  font: normal normal bold var(--box-heading) / 44px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

.box-paragraph {
  width: 1060px;
  height: 79px;
  margin-bottom: 60px;
  font: normal normal normal var(--box-paragraph) / 36px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

.boxes-parent {
  gap: 60px;
  width: 1061px;
}

.boxes {
  width: 500px;
  height: 341px;
  padding: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #007cc3;
  border-radius: 10px;
  opacity: 1;
}

.inner-box-heading {
  width: 420px;
  height: 39px;
  text-align: left;
  font: normal normal 600 var(--inner-box-heading) / 37px Montserrat;
  letter-spacing: 0px;
  color: #007cc3;
  margin-bottom: 10px;
}

.inner-box-para {
  width: 420px;
  height: 213px;
  text-align: left;
  font: normal normal normal var(--inner-box-para) / 36px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

/* for tabs */
@media only screen and (width >=576px) and (width<=1024px) {
  :root {
    --heading: 24px;
    --page5-image-info: 20px;
    --box-heading: 28px;
    --box-paragraph: 20px;
    --inner-box-heading: 24px;
    --inner-box-para: 20px;
  }

  .head-5 {
    height: 80px;
    width: 100%;
    padding-left: 0;
  }

  .heading-5 {
    padding-left: 30px;
    font: normal normal 600 var(--heading) / 29px Montserrat;
    height: 80px;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }

  .para-text-div {
    margin-top: 44px;
  }

  .page-3-list {
    width: 100%;
  }

  .page-3-list li {
    width: 300px;
    height: 71px;
    margin-left: 20px;
    margin-bottom: 9px;
  }

  .page5-image {
    width: 100%;
    height: 357px;
    padding: 16px;
  }

  .page5-image img {
    width: 100%;
    height: 100%;
  }

  .page5-image-info {
    width: 100%;
    height: max-content;
    font: normal normal 600 var(--page5-image-info) / 27px Montserrat;
    padding: 22px;
  }

  .page5-box {
    width: 100%;
    height: max-content;
    padding: 40px;
    padding-top: 42px;
    background: #f4fbff 0% 0% no-repeat padding-box;
    margin-bottom: 80px;
  }

  .box-heading {
    width: 100%;
    height: 33px;
    margin-bottom: 20px;
    font: normal normal bold var(--box-heading) / 33px Montserrat;
  }

  .boxes-parent {
    width: 100%;
  }

  .box-paragraph {
    margin-bottom: 60px;
    width: 100%;
    height: 78px;
    text-align: left;
    font: normal normal normal var(--box-paragraph) / 27px Montserrat;
  }

  .page5-boxes {
    width: 100%;
    gap: 40px;
  }

  .boxes {
    width: 100%;
    height: max-content;
    padding: 40px;
  }

  .inner-box-heading {
    width: 608px;
    height: 39px;
    font: normal normal 600 var(--inner-box-heading) / 37px Montserrat;
  }

  .inner-box-para {
    width: 100%;
    height: max-content;
    text-align: left;
    font: normal normal normal var(--inner-box-para) / 27px Montserrat;
  }
}

@media only screen and (width <=576px) {
  :root {
    --heading: 16px;
    --page5-image-info: 20px;
    --box-heading: 22px;
    --box-paragraph: 16px;
    --inner-box-heading: 18px;
    --inner-box-para: 16px;
  }

  .head-5 {
    height: 60px;
    padding-left: 0px;
  }

  .heading-5 {
    padding-left: 30px;
    font: normal normal 600 var(--heading) / 26px Montserrat;
  }

  .comm-width {
    width: 100%;
    margin-bottom: 30px;
  }

  .para-text-div {
    margin-top: 44px;
  }

  .page-3-list {
    width: 100%;
  }

  .page-3-list li {
    width: 300px;
    height: 71px;
    margin-left: 20px;
    margin-bottom: 9px;
  }

  .page5-image {
    width: 100%;
    height: 357px;
    padding: 16px;
  }

  .page5-image img {
    width: 100%;
    height: 100%;
  }

  .page5-image-info {
    width: 100%;
    height: max-content;
    font: normal normal 600 var(--page5-image-info) / 27px Montserrat;
    padding: 22px;
  }

  .page5-box {
    width: 100%;
    height: max-content;
    padding: 40px;
    padding-top: 42px;
    background: #f4fbff 0% 0% no-repeat padding-box;
    margin-bottom: 80px;
  }

  .box-heading {
    width: 688px;
    height: 33px;
    margin-bottom: 20px;
    font: normal normal bold var(--box-heading) / 33px Montserrat;
  }

  .box-paragraph {
    margin-bottom: 60px;
    width: 100%;
    height: 78px;
    text-align: left;
    font: normal normal normal var(--box-paragraph) / 27px Montserrat;
  }

  .page5-boxes {
    width: 100%;
    gap: 40px;
  }

  .boxes {
    width: 385px;
    height: max-content;
    padding: 40px;
  }

  .inner-box-heading {
    width: 385px;
    height: 39px;
    font: normal normal 600 var(--inner-box-heading) / 37px Montserrat;
  }

  .inner-box-para {
    width: 100%;
    height: max-content;
    text-align: left;
    font: normal normal normal var(--inner-box-para) / 27px Montserrat;
  }
}

@media only screen and (width <=1600px) and (width >=1024px) {
  :root {
    --heading: 28px;
    --page5-image-info: 18px;
    --box-heading: 22px;
    --box-paragraph: 18px;
    --inner-box-heading: 20px;
    --inner-box-para: 18px;
  }

  .head-5 {
    height: 80px;
    width: 100%;
    padding-left: 0px;
  }

  .heading-5 {
    font: normal normal 600 var(--heading) / 29px Montserrat;
    padding-left: 50px;
  }

  .page5-image {
    width: 100%;
    height: 357px;
  }

  .page5-image img {
    width: 62%;
  }

  .page5-image-info {
    width: 100%;

    font: normal normal 600 var(--page5-image-info) / 30px Montserrat;

    padding: 26px 34px;
  }

  .page5-box {
    width: 100%;
    height: max-content;
    padding: 0px 40px;
    padding-top: 42px;
    padding-bottom: 100px;
    background: #f4fbff 0% 0% no-repeat padding-box;
  }

  .box-heading {
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    font: normal normal bold var(--box-heading) / 44px Montserrat;
  }

  .box-paragraph {
    width: 100%;
    height: 79px;
    margin-bottom: 60px;
    font: normal normal normal var(--box-paragraph) / 36px Montserrat;
  }

  .boxes-parent {
    gap: 40px;
    width: 100%;
  }

  .boxes {
    width: 450px;
    height: 341px;
    padding: 40px;
  }

  .inner-box-heading {
    width: 420px;
    height: 39px;
    font: normal normal 600 var(--inner-box-heading) / 37px Montserrat;
  }

  .inner-box-para {
    width: 350px;
    height: 213px;
    font: normal normal normal var(--inner-box-para) / 36px Montserrat;
  }
}
