.head-8 {
  height: 142px;
  /* padding-left: 140px; */
  align-items: center;
  background: transparent linear-gradient(90deg, #1c449c 0%, #007cc3 100%) 0% 0% no-repeat padding-box;
}

.heading-8 {
  font: normal normal 600 48px/58px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  height: 142px;
  align-content: center;
  width: 1061px;
}

.page8-box {
  width: 1090px;
  height: 442px;
  margin-top: 60px;
  padding: 40px;
  background: #f4fbff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  gap: 73px;
}

.page8-box-small {
  width: 1090px;
  height: 326px !important;
  background: #f4fbff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 60px;
  padding: 40px;
  gap: 73px;
}

.page8-box-small {
  width: 1090px;
  height: 326px !important;
}

.page8-para {
  width: 515px;
  font: normal normal normal 24px/36px Montserrat;
  letter-spacing: 0px;
}

.para8-bold-text {
  font: normal normal bold 24px/33px Montserrat;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 20px;
}

.page8-para-image {
  width: 415px;
  height: 280px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
}

.page8-para-image img {
  width: 341px;
  height: 235px;
}

.page8-last-box {
  width: 1090px;
  height: 715px;
  background: #f4fbff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 60px;
}

.page8-box-heading {
  height: 29px;
  font: normal normal bold 24px/33px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  padding: 40px;
}

.page8-last-box-image-parent {
  gap: 34px;
  margin-top: 26px;
}

.page8-last-box-image {
  width: 317px;
  height: 248px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  margin-bottom: 22px;
}

.page8-last-box-image img {
  width: 286px;
  height: 182px;
}

.subhead {
  width: 136px;
  height: 29px;
  font: normal normal bold 24px/33px Montserrat;
  letter-spacing: 0px;
  color: #007cc3;
  margin-bottom: 15px;
}

.subpara {
  width: 310px;
  height: 228px;
  font: normal normal normal 24px/36px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

@media only screen and (width >=576px) and (width<=1024px) {
  .head-8 {
    height: 80px;
    width: 688px;
    padding-left: 0;
  }

  .heading-8 {
    padding-left: 30px;
    font: normal normal bold 28px/33px Montserrat;
  }

  .page8-box {
    width: 688px;
    height: 669px;
    margin-top: 40px;
    padding: 40px;
    gap: 33px;
    flex-direction: column;
  }

  .page8-box-small {
    width: 688px;
    height: 619px !important;
    margin-top: 40px;
    padding: 40px;
    gap: 33px;
    flex-direction: column;
  }

  .page8-para {
    width: 628px;
    height: 151px;
    text-align: left;
    font: normal normal normal 20px/30px Montserrat;
  }

  .para8-bold-text {
    width: 515px;
    height: 59px;
    text-align: left;
    font: normal normal bold 24px/30px Montserrat;
    margin-bottom: 20px;
  }

  .page8-para-image {
    width: 628px;
    height: 353px;
  }

  .page8-para-image img {
    width: 341px;
    height: 235px;
  }

  .page8-last-box {
    width: 688px;
    height: 890px;
    margin-top: 40px;
  }

  .page8-box-heading {
    height: 29px;
    text-align: left;
    font: normal normal bold 24px/30px Montserrat;
    padding: 32px 40px;
  }

  .page8-last-box-image-parent {
    gap: 0px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
  }

  .last-box-mobile-flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .page8-last-box-image {
    width: 300px;
    height: 230px;
    margin-left: 35px;
  }

  .page8-last-box-image img {
    width: 233px;
    height: 182px;
  }

  .subhead {
    width: 136px;
    height: 29px;
    font: normal normal bold 24px/33px Montserrat;
    margin-bottom: 15px;
  }

  .subpara {
    width: 293px;
    height: 161px;
    text-align: left;
    font: normal normal normal 20px/30px Montserrat;
  }
}

/* laptops */

@media only screen and (width <=1600px) and (width >=1024px) {
  :root {
    --heading: 28px;
    --subheading: 22px;
    --heading-2: 20px;
    --normal-text: 18px;
    --bold-text: 18px;
  }

  .head-8 {
    height: 80px;
    width: 100%;
    padding-left: 0px;
  }

  .heading-8 {
    height: 80px;
    width: 100%;
    padding: 0 50px;
    font: normal normal 600 var(--heading) / 29px Montserrat;
    /* padding-left: 30px; */
  }

  .page8-box {
    width: 100%;
    height: max-content;
    margin-top: 60px;
    padding: 40px;
    background: #f4fbff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    gap: 73px;
    flex-wrap: wrap;
  }

  .page8-box-small {
    width: 1090px;
    height: 326px !important;
    background: #f4fbff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-top: 60px;
    padding: 40px;
    gap: 73px;
  }

  .page8-box-small {
    width: 100%;
    height: max-content !important;
    flex-wrap: wrap;
  }

  .page8-para {
    width: 515px;
    font: normal normal normal var(--normal-text) / 36px Montserrat;
    letter-spacing: 0px;
  }

  .para8-bold-text {
    font: normal normal bold var(--bold-text) / 33px Montserrat;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 20px;
  }

  .page8-para-image {
    width: 415px;
    height: 280px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
  }

  .page8-para-image img {
    width: 341px;
    height: 235px;
  }

  .page8-last-box {
    width: 100%;
    height: max-content;
    background: #f4fbff 0% 0% no-repeat padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-top: 60px;
  }

  .page8-box-heading {
    height: 29px;
    font: normal normal bold var(--heading-2) / 33px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    padding: 40px;
  }

  .page8-last-box-image-parent {
    gap: 34px;
    margin-top: 26px;
    flex-wrap: wrap;

  }

  .page8-last-box-image {
    width: 317px;
    height: 248px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    margin-bottom: 22px;
  }

  .page8-last-box-image img {
    width: 286px;
    height: 182px;
  }

  .subhead {
    width: 136px;
    height: 29px;
    font: normal normal bold var(--subheading) / 33px Montserrat;
    letter-spacing: 0px;
    color: #007cc3;
    margin-bottom: 15px;
  }

  .subpara {
    width: 310px;
    height: 228px;
    font: normal normal normal var(--normal-text) / 36px Montserrat;
    letter-spacing: 0px;
    color: #000000;
  }
}

/* for mobile */
@media only screen and (width <=576px) {
  :root {
    --heading: 16px;
    --page8-para: 16px;
  }

  .head-8 {
    height: 80px;
    width: 100%;
    padding-left: 0;
  }

  .heading-8 {
    /* padding-left: 30px; */
    font: normal normal bold var(--heading) / 33px Montserrat;
    height: 80px;
    width: 100%;
  }

  .page8-box {
    width: 688px;
    height: 669px;
    margin-top: 40px;
    padding: 40px;
    gap: 33px;
    flex-direction: column;
  }

  .page8-box-small {
    width: 688px;
    height: 619px !important;
    margin-top: 40px;
    padding: 40px;
    gap: 33px;
    flex-direction: column;
  }

  .page8-para {
    width: 628px;
    height: 151px;
    text-align: left;
    font: normal normal normal var(--page8-para) / 30px Montserrat;
  }

  .para8-bold-text {
    width: 515px;
    height: 59px;
    text-align: left;
    font: normal normal bold 22px/30px Montserrat;
    margin-bottom: 20px;
  }

  .page8-para-image {
    width: 628px;
    height: 353px;
  }

  .page8-para-image img {
    width: 341px;
    height: 235px;
  }

  .page8-last-box {
    width: 688px;
    height: 890px;
    margin-top: 40px;
  }

  .page8-box-heading {
    height: 29px;
    text-align: left;
    font: normal normal bold 24px/30px Montserrat;
    padding: 32px 40px;
  }

  .page8-last-box-image-parent {
    gap: 0px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
  }

  .last-box-mobile-flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .page8-last-box-image {
    width: 300px;
    height: 230px;
    margin-left: 35px;
  }

  .page8-last-box-image img {
    width: 233px;
    height: 182px;
  }

  .subhead {
    width: 136px;
    height: 29px;
    font: normal normal bold 24px/33px Montserrat;
    margin-bottom: 15px;
  }

  .subpara {
    width: 293px;
    height: 161px;
    text-align: left;
    font: normal normal normal 20px/30px Montserrat;
  }
}